#Products
/MultithreadingAStar/bin/*
/kagv/obj/*
*.suo
\#*#
/MultithreadingAStar/.vs
/MultithreadingAStar/obj/*
.vs/*
.vs/MultithreadingAStar/v15/sqlite3/storage.ide
.vs/MultithreadingAStar/v15/.suo
.vs/MultithreadingAStar/v15/*